<div class="layout">

  <app-consumer-sidebar></app-consumer-sidebar>

  <main class="content">
    <header class="topbar">
      <div></div>
      <div class="topbar-icons">
        <button class="icon-btn" aria-label="Notifications"><i class="fa-solid fa-bell"></i></button>
        <button class="icon-btn" aria-label="User Profile"><i class="fa-solid fa-user"></i></button>
      </div>
    </header>

    <section class="welcome">
      <h1>Welcome back, {{ consumer.fName}}!</h1>
      <p>Here’s an overview of your recent activity</p>
    </section>

    <section class="summary-cards">
      <div class="card">
        <h2>{{ openCount }}</h2>
        <p>Open Complaints</p>
      </div>

      <div class="card">
        <h2>{{ inProgressCount }}</h2>
        <p>In Progress</p>
      </div>

      <div class="card">
        <h2>{{ resolvedCount }}</h2>
        <p>Resolved</p>
      </div>
    </section>

    <section class="recent-section">
      <h2>Recent Complaints</h2>
      <table class="complaints-table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Subject</th>
          <th>Status</th>
          <th>Date Registered</th>
          <th>Priority</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
          @for (c of complaints.slice(0,5); track c.complaintId) {
            <tr>
              <td>#C-{{ c.createdAt | date:'yyyy' }}-{{ c.complaintId }}</td>
              <td>{{ c.title }}</td>
              <td>{{ c.status }}</td>
              <td>{{ c.createdAt | date:'MMM d, yyyy' }}</td>
              <td>{{ c.priority }}</td>

              <td class="actions">
                  <button class="view-btn" [routerLink]="['/view-complaint', c.complaintId]">View</button>
                  <button class="ellipsis">⋮</button>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="6" class="text-center">
                No complaints found for this account.
              </td>
            </tr>
          }
        </tbody>
      </table>
    </section>
  </main>
</div>
