<div class="page-container">
  <header class="header">
    <h1 class="logo">ABC Complaint Management System</h1>
  </header>

  <div class="login-card">

    <h2 class="title">Sign Into Your Account</h2>

    @if (errorMessage) {
      <div class="error-box">{{ errorMessage }}</div>
    }

    <label>Email Address</label>
    <input type="email"
           [(ngModel)]="email"
           (ngModelChange)="onEmailChange()"
           placeholder="Enter your email" />

    @if (emailError) {
      <p class="field-error">{{ emailError }}</p>
    }

    <button class="sign-btn" (click)="findTenants()">Verify Email</button>


    @if (tenants.length > 1) {
      <label>Select Organisation</label>

      <select [(ngModel)]="selectedTenantId">
        <option [ngValue]="null">Select</option>

        @for (t of tenants; track t.tenantId) {
          <option [ngValue]="t.tenantId">
            {{ t.tenantName }} ({{ t.role }})
          </option>
        }
      </select>
    }

    @if (canShowPassword()) {
      <label>Password</label>

      <div class="password-field">
        <input [type]="showPassword ? 'text' : 'password'"
               [(ngModel)]="password"
               placeholder="Enter your password" />

        <button type="button" class="toggle-btn" (click)="togglePassword()">
          <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
        </button>
      </div>

      <button class="sign-btn" (click)="login()">Login</button>
    }
  </div>
</div>
