<div class="page-container">
  <header class="header">
    <h1 class="logo">ABC Complaint Management System</h1>
  </header>
  <div class="login-card">
    <h2 class="title">Sign Into Your Account</h2>
    <p class="subtitle">Welcome back! Please enter your details.</p>
    @if (errorMessage){
      <div class="error-box">{{ errorMessage }}</div>
    }

    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      [(ngModel)]="email"
      placeholder="Enter your email"
      aria-label="Email address"
      (blur)="validateEmail()"
      required
    />
    <p class="field-error"> @if (emailError){{{ emailError }}}</p>

    <label for="password">Password</label>
    <div class="password-field">
      <input
        id="password"
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="password"
        placeholder="Enter your password"
        aria-label="Password"
        (blur)="validatePassword()"
        required
      />

      <button type="button"
              class="toggle-btn"
              (click)="togglePassword()"
              aria-label="Toggle password visibility">
        <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
      </button>
    </div>
    <p class="field-error">@if (passwordError){{{ passwordError }}}</p>

    <div class="row space-between">
      <label class="checkbox">
        <input type="checkbox" [(ngModel)]="rememberMe" />
        Remember me
      </label>

      <a class="forgot" href="#">Forgot password?</a>
    </div>

    <button
      class="sign-btn"
      (click)="onSubmit()"
      [disabled]="!formValid">
      Sign In
    </button>

    <div class="divider">
      <span>Or continue with</span>
    </div>

    <div class="social-row">
      <button class="social-btn">Google</button>
      <button class="social-btn">Use organisation login</button>
    </div>
  </div>
</div>
